@media (min-width: 576px) {
    .o_form_view .oe_title {
        max-width: 100%;
    }
}

.radio_as_buttons .o_radio_item {
    display: inline-block !important;
    margin-right: 16px;
}
.radio_as_buttons .o_radio_input input {
    display: none !important;
}
.radio_as_buttons .o_radio_input label {
    padding: 6px 12px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    cursor: pointer;
    background: #f8f9fa;
}
.radio_as_buttons .o_radio_input input:checked + label {
    background: #007bff;
    color: white;
    border-color: #007bff;
}

.donor-tier-icon {
    font-size: 60px;
    display: block;
    text-align: right;
    margin-right: 10px;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 999;
}

.donor-badge {
    width: 70px;
    height: 70px;
    object-fit: contain;
    border-radius: 50%;

}



